
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital@1&display=swap');
*{
    font-family: 'Helvetica';
}
body{
    margin: 0 auto;
}
/*tete de page*/
header.header{
    display: flex;
    align-items: center;
    background-color: #006678;
    top:0;
    left :0;

}

header.header img{
    width: 100px;
}
section.top-page {
    background:url('../images/bg1.jpg');
    background-size: cover;
    height: 80vh;
    padding: 60px;

}
/*page de bienvenue (landing page)*/
.landing-page{
    padding: 20px 50px;
}
.big-title{
    color: whitesmoke;
    font-size: 60px;
}
.explication{
    color: whitesmoke;
    font-size: 30px;
    font-family: 'Crimson Pro';
    font-weight: 100;
}
.scroll-down{
    color: red;
    text-decoration: none;
    position: absolute;
}
/*menu de navigation*/
nav.nav{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 700px;
    margin-left: 200px;
    font-size: x-large;


}

nav.nav li a{
color: whitesmoke;
text-decoration: none;
}

/*Advices*/
/*Advice1*/
.advice1{
    display: flex;
    justify-content:space-between;
    margin: 50px;
    width: :fit-content;

}
.stayHome-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #A2D6FE;
    
}
.stayHome-item img{
    width: 180px;
    margin: 100px;
    top: 0;
    left:0;
}
.stayHome-item p{
    margin: 10px;
    font-family: 'Crimson Pro';
    font-size: xx-large;
}
.stayHome-item h1{
    color: #001220;
    font-size: 40px;
}
.WashHands-item{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #A2D6FE;
}
.WashHands-item img{
    width: 200px;
    margin: 100px;
}
.WashHands-item p{
    margin: 20px;
    font-family: 'Crimson Pro';
    font-size: x-large;
}
.WashHands-item h1{
    color: #001220;
    font-size: 40px;
    
}
/*Advice2*/
.advice2{
    display: flex;
    justify-content: space-between;
    margin: 50px;
}
.CheckTemp-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #D6E4E5;
}
.CheckTemp-item img{
    width: 200px;
    margin: 100px;
}
.CheckTemp-item p{
    /*margin: 0px;*/
    font-family: 'Crimson Pro';
    font-size: x-large;
    margin-top: 10px;
}
.CheckTemp-item h1{
    color: #001220;
    font-size: 40px;
    margin: 60px;
}

.StayAlone-item {
    display: flex;
    align-items: center;
    flex-direction: column;
   background-color: #D6E4E5;
}
.StayAlone-item img{
    width: 200px;
    margin: 100px;
}
.StayAlone-item p{
    margin: 10px;
    font-family: 'Crimson Pro';
    font-size: x-large;
    margin-top: 50px;
}
.StayAlone-item h1{
    color: #001220;
    font-size: 40px;
    margin: 60px;
}
/*Advice3*/
.advice3{
    display: flex;
    justify-content: space-between;
    margin: 50px;
    background-color: #FFECEB;
}
.WatchAsymp-item{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #FFECEB;
}
.WatchAsymp-item img{
    width: 200px;
    margin: 100px;}

.WatchAsymp-item p{
    margin: 60px;
    font-family: 'Crimson Pro';
    font-size: x-large;
}
.WatchAsymp-item h1{
    color: #001220;
    font-size: 40px;
}
.SocialDistancing-item{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #FFECEB;
}
.SocialDistancing-item img{
    width: 200px;
    margin: 100px;}

.SocialDistancing-item p{
    margin: 10px;
    font-family: 'Crimson Pro';
    font-size: x-large;
}
.SocialDistancing-item h1{
    color: #001220;
    font-size: 40px;
}
/*Advice4*/
.advice4{
    display: flex;
    justify-content: space-between;
    margin: 50px;
}
.CallDoctor-item{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ebbbaa /*#4a8f8d*/;
}
.CallDoctor-item img{
    width: 200px;
    margin: 100px;
}

.CallDoctor-item p{
    margin: 60px;
    font-family: 'Crimson Pro';
    font-size: x-large;
}
.CallDoctor-item h1{
    color: #001220;
    font-size: 40px;
}
address {
    /*font-size: 70%;
    margin: 0px;*/
    color: #12051aea;
  }
  .tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 200px solid rgb(15, 14, 14);
    padding: 10px;
  }
  .row-content {
    margin: 0px auto;
    padding: 60px 0px;
    border-bottom: 1px ridge;
    min-height: 100px;
  }
  #services .services {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}
#services .service-top {
	max-width: 500px;
	margin: 0 auto;
    top: 0;
    align-items: center;
}
#services .service-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
}
#services .service-item {
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
	background-image: url(./img/img-1.png);
	background-size: cover;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
#services .service-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #006678 0%, #485563 100%);
	opacity: 0.9;
	z-index: -1;
}
#services .service-bottom .icon {
	height: 80px;
	width: 80px;
	margin-bottom: 20px;
}
#services .service-item h2 {
	font-size: 2rem;
	color: white;
	margin-bottom: 10px;
	text-transform: uppercase;
}
#services .service-item p {
	color: white;
	text-align: left;
}
h1{
    color :#006678;
    top : 0;
    font-family: 'Arima Madurai', cursive;
}